/* 
border-style:solid;
border-width:10px; 
*/
.notificatr .alert-blackberry{
  background-color: #4D0135 !important;
  font-family: "Open Sans",Calibri,Candara,Arial,sans-serif;  
}

.notificatr  .alert-blackberry .btn-white{
  color: #4D0135;
  background-color: White;
  font-family: "Open Sans",Calibri,Candara,Arial,sans-serif;
}

.notificatr .alert-blackberry .btn-white:hover{
  color: #4D0135;
  background-color: #E0CCE0;
  font-family: "Open Sans",Calibri,Candara,Arial,sans-serif;
}

.notificatr .alert-greenapple{
  background-color: #3fb618 !important;
  font-family: "Open Sans",Calibri,Candara,Arial,sans-serif;
}

.notificatr .alert-greenapple .link-white{
  color: #ffffff;
  font-weight: 900;
  font-family: "Open Sans",Calibri,Candara,Arial,sans-serif;
}

.notificatr .alert-greenapple .link-white:hover{
  color: #081910;
  text-decoration: none;
  font-family: "Open Sans",Calibri,Candara,Arial,sans-serif;
}